<?xml version="1.0" encoding="UTF-8"?>



<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd 
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
        
        
   <context:component-scan base-package="com.springmvchibernate"></context:component-scan>
   <mvc:annotation-driven></mvc:annotation-driven>
   <context:annotation-config></context:annotation-config>
   
   <bean class = "org.springframework.web.servlet.view.InternalResourceViewResolver">
      <property name = "prefix" value = "/WEB-INF/jsp/"/>
      <property name = "suffix" value = ".jsp" />
   </bean>
   
   <!-- difference types of handler mappings -->
   
   
   <bean id ="beannameurlhandler"  class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"  ></bean>
   <bean name="/helloworld"  class="com.springmvchibernate.controller.BeanNameUrlHandlerMappingController"  ></bean>
   
    <bean id ="simpleurlhandler"  class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping"  >
    <property name="mappings">
    <!-- <value>/simpleurlexample=simpleurlhandlermapping</value> -->
    <!-- <property name="/simpleurlexample" value="/simpleurlexample"></property> -->
    <props>
    	<prop key="/simpleurlexample">simpleurlhandlermapping</prop>
    </props>
    </property>
    </bean>
   
   <bean name="simpleurlhandlermapping"  class="com.springmvchibernate.controller.SimpleurlHandlerMappingController"  ></bean>
    <!-- end difference types of handler mappings -->
   
   
   
   <!--   database and hibernate   -->
    <bean id="dataSource" name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
	   <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
	   <property name="url" value="jdbc:mysql://localhost:3306/users"></property>
	   <property name="username" value="root"></property>
	   <property name="password" value=""></property>
   </bean>
   <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan">
            <list>
                <value>com.springmvchibernate.model.Users</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
            </props>
        </property>       
    </bean>
    <bean id="transactionManager"  class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean> 
   <!-- end   database and hibernate   -->
   
   
   <!-- <datasource>
   </datasource>
   
   <sessionfactory>
   </sessionfactory>
   
   <transactionmanager>
   </transactionmanager> -->
   
   
   </beans>